body{
background-color: #F6EDBD;
}
#top{
    background-color:#FAE989;
    color:black;
    height: 20%;
      position:static;
      top: 0;
      left: 0;
      width: 100%;
    
    }
.menu{
background-color:#FAE989;
font-size: 16px;
color:black;
display:inline;


}

.menu a:hover {
background-color: rgb(144, 197, 218);
color: blue;
}



@media screen and (max-width: 600px) {
}
.footer{
position: relative;
background-color: rgb(79, 79, 112);
display: flex;

justify-content: center;
align-items: center;
}